.places__paragraph-container {
  grid-area: text;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 26px;
}

@media screen and (max-width: 767px) {
  .places__paragraph-container {
    margin-left: 16px;
    row-gap: 25px;
  }

}
