.lead__image-container {
  margin: 0 48px 0 48px;
}

@media screen and (max-width: 767px) {
  .lead__image-container {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image-container {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-container {
    margin: 0 148px 0 148px;
  }
}
