.footer {
  margin: 92px 48px 0 48px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  grid-area: footer;
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 64px auto 0 16px;
    padding-bottom: 24px;
    flex-direction: column;

  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 0 24px;
    padding-bottom: 24px;
  }
}

